</div>

<footer class="bg-white border-t border-[#e1e8ed] mt-auto">
  <div class="max-w-[1200px] mx-auto px-4">
    <div class="text-center py-5 text-[#657786] text-xs">
      © 2026 Winter - SIN WONG
    </div>
  </div>
</footer>

</div>
</body>
</html>