<!DOCTYPE html>
<html lang="en" data-theme="nord">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title><%= title %></title>
</head>
<body class="min-h-screen flex flex-col bg-base-200">

<%- include('partials/header') %>
 <main class="flex-1 flex items-center justify-center p-4 pt-6 pb-10">
    <div class="w-full max-w-md bg-base-100 rounded-box shadow-xl p-6">
      
    <% if (error) { %>
      <div class="alert alert-error"><%= error %></div>
    <% } %>

    <form  method="POST" action="/login" class="space-y-6">
      <h2 class="card-title text-primary">Login</h2>
      <input name="username" type="text" placeholder="Username or Email" class="input input-bordered w-full" required="">
      <input name="password" type="password" placeholder="Password" class="input input-bordered w-full" required="">
      <button class="btn btn-primary w-full" type="submit">Login</button>
      
      <a href="/register" class="link link-primary">Don't have an account?</a>
    </form>
  </div>
  </main>

<%- include('partials/footer') %>
</body>
</html>


